{% extends "after-dark/templates/page.html" %}

{% block content %}
{% if 'tils' in page.path %}
<style>
    .muted svg.i-clock,
    .muted svg.i-clock+span {
        display: none !important;
    }
</style>
{% endif %}
{{ super() }}
{% endblock %}

{% block extra_footer %}
<script src="https://utteranc.es/client.js" repo="sinon/sinon.github.io" issue-term="url" label="comments"
    theme="github-dark" crossorigin="anonymous" async>
    </script>
{% endblock %}

{% block meta_content %}
{% if current_path %}
<meta property="og:url" content="{{config.base_url}}{{current_path | safe}}" />
{% endif %}
{% if page.title %}
<meta property="og:title" content="{{page.title}} —&nbsp;{{config.title}}" />
{% else %}
<meta property="og:title" content="{{config.title}}" />
{% endif %}
{% if page.description %}
<meta property="og:description" content="{{ page.description | safe }}" />
{% endif %}
{% if page.taxonomies.tags %}
<meta property="og:article:tag" content="{{page.taxonomies.tags | join(sep=',')}}" />
{% endif %}
{% endblock meta_content %}